{% extends "base.html" %}

{% block content %}
<!-- 文章列表开始 -->
{% for x in 'xxxx' %}
<div class="post text">
    <h2>
        <a href="">这里是标题</a>
    </h2>
    <p><em>2015年5月8日</em></p>
    <p>By popular demand I have finally pulled all of the
        templates on Start Bootstrap into their own personal
        GitHub repository! What this means is that you can
        easily fork a template to start a new project directly
        in GitHub.</p>
    <p class="read_more_container">
        <a href="" class="read_more">阅读全文</a>
    </p>
</div>
{% endfor %}
<!-- 文章列表结束 -->
{% endblock content %}
